/* Common style applied to all content */

body {
  font-family: Helvetica;
  text-align: center;
}

body p {
  font-size: 14px;
}

/* Header style */

header {
  background-image: url('../images/the-flatiron-building.png');
  background-size: cover;
}

header h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

header ul {
  list-style-type: none;
  /* Reset CSS to reduce browser inconsistencies */
  margin: 0px;
  padding: 0px;
}

header li {
  padding-top: 20px;
}

header a,
footer a {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

/* Main style */

main h2 {
  font-size: 32px;
  font-weight: bold;
}

main h3 {
  font-size: 23px;
  font-weight: bold;
}

/* Special style h3 */
.background-image {
  color: white;
  background-image: url('../images/the-flatiron-building.png');
  background-size: cover;
}

/* Footer style */

footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}

footer li {
  display: inline;
}
